@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&family=Geologica&family=Montserrat:wght@500&family=Narnoor&family=Rubik&display=swap');
body{
    font-family: 'Narnoor', serif;
    margin-top: -30px;
}
h1{
    font-size: 50px;
}
#contain{
    border: 1px solid red;
    width: 100%;
    height: 270px;
    text-align: center;
}
#power{
    border: 1px solid cyan;
    float: left;
    width: 30%;
    height: 350px;
    text-align: center;
}
#newclick{
    text-align: center;
    border: 1px solid purple;
    float: left;
    width: 30%;
    height: 350px;
    overflow-y: auto;
}
#scorecon{
    font-size: 50px;
    border: 1px solid greenyellow;
    height: 80px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    width: 100%;   
}
#scoreauto{
    font-size: 20px;
    border: 0px solid orange;
}
.buyingboxes{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    text-align: center;
    float: left;
    margin: 4px;
    line-height: 2px;
    width: 30%;
}
.buyingboxes:hover{
    background-color: rgb(219, 219, 219);
}
.powerboxes{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    text-align: center;
    float: left;
    margin: 4px;
    line-height: 2px;
    width: 30%;
}
.powerboxes:hover{
    background-color: rgb(219, 219, 219);
}
#floater{
    float: left;
    width: 39%;
}
#chall{
    margin-top: -130px;
    margin-bottom: -130px;
    margin-left: 30px;
}
#nomoney{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -175px;
    z-index: 10001;
    text-align: center;
}
#closebutton{
    height: 30px;
    width: 90px;
    border: none;
    background-color: rgb(214, 255, 196);
    font-family: 'Narnoor', serif;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}
#closebutton:hover{
    background-color: rgb(149, 180, 138);
}
#steal{
    bottom: 0px;
    left: 0px;
}
#shadow{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.775);
    z-index: 1000;
}
#challcon{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -175px;
    z-index: 10001;
    text-align: center;
    overflow-y: auto;
}
.challbox{
    text-align: left;
    margin: 7px;
    height: 90px;
    width: 95%;
    padding: 5px;
    background-color: aquamarine;
}